label for="title" Title:
input.title type="text" name="post[title]" value="#{@post.title}" size="32"
label for="content" Content:
textarea.content name="post[content]" rows="12" cols="72" ==@post.content