
$blue: #0166FF;
$white: #fff;


.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

body{
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 60px 0 0 0;
  background-color: #f1f4f9;
  font: 16px/1.2;

  .button-rectangle{
    display: inline-block;
    text-decoration: none;
    padding: 8px 20px;
    line-height: 20px;
    font-size: 14px;
    text-shadow: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
  }

  .comments{
    padding: 30px 0 0 0;
      header.title{
        padding-bottom: 15px;
        margin-bottom: 20px;
        background: transparent url('/line.png') repeat-x bottom left;
        border-bottom: 1px solid white;
      }

      .comment-list{
        .reply-title{
          color: #6BC083;;
          padding: 10px 0px;
          font-size: 30px;
          padding: 25px 0px 10px 0;
          margin-top: 30px;
        }
      }
  }

  .user_information{
    .user_email{
      margin-right: 5px;
    }
  }

  .button-info{
    background-color: $blue;
    color: $white;

    &:hover{
      background-color: #0166DA;
    }
  }

  .box{
    background: #fff;
    padding: 40px 30px 30px 30px;
    margin-bottom: 10px;

    &.post-main{
      min-height: 350px;
      max-height: 350px;
      overflow: hidden;
      width: 310px;
    }

    &.post{
      header{
        h1{
          font-size: 46px;
          line-height: 46px;
          padding: 15px 3px;
          margin: 0 0 15px 0;
          border-bottom: 1px solid whitesmoke;
        }
      }
    }
  }
  footer.main{
    background-color: #30abd5;;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
  }
}
 
.logo {
  background: #444;
  margin: 0;
  padding: 20px 10px;
  font-size: 44px;
  a,a:visited{ color: $blue; text-decoration: none;}
}
 
.button{
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 4px;
  color: #fff;
  background: $blue;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: auto;
  &:hover{
    background: darken($blue,20%);
  }
}
 
label{
  display: block;
  font-weight: bold;
  font-size: 16px;
}
 
form, input, textarea{
  width: 100%;
}
 
input, textarea {
  border: #ccc 1px solid;
  padding: 10px 5px;
  font-size: 16px;
}