body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 60px 0 0 0;
  background-color: #f1f4f9;
  font: 16px/1.2; }
  body .button-rectangle {
    display: inline-block;
    text-decoration: none;
    padding: 8px 20px;
    line-height: 20px;
    font-size: 14px;
    text-shadow: none;
    border: none;
    font-weight: 700;
    cursor: pointer; }
  body .button-info {
    background-color: #0166ff;
    color: white; }
    body .button-info:hover {
      background-color: #0166DA; }
  body .box {
    background: #fff;
    padding: 40px 30px 30px 30px;
    margin-bottom: 10px; }
    body .box.post-main {
      min-height: 350px;
      max-height: 350px;
      overflow: hidden;
      width: 310px; }
  body footer.main {
    background-color: #30abd5;
    color: #fff;
    padding: 20px;
    margin-top: 20px; }

h1, h2, h3, h4, h5, h6 {
  color: #0166ff; }

.logo {
  background: #444;
  margin: 0;
  padding: 20px 10px;
  font-size: 44px; }
  .logo a, .logo a:visited {
    color: #0166ff;
    text-decoration: none; }

.button {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 4px;
  color: #fff;
  background: #0166ff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: auto; }
  .button:hover {
    background: #003d9a; }

label {
  display: block;
  font-weight: bold;
  font-size: 16px; }

form, input, textarea {
  width: 100%; }

input, textarea {
  border: #ccc 1px solid;
  padding: 10px 5px;
  font-size: 16px; }
