.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .group {
  zoom: 1; }

/* IE6 */
*:first-child + html .group {
  zoom: 1; }

/* IE7 */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 60px 0 0 0;
  background-color: #f1f4f9;
  font: 16px/1.2; }
  body .button-rectangle {
    display: inline-block;
    text-decoration: none;
    padding: 8px 20px;
    line-height: 20px;
    font-size: 14px;
    text-shadow: none;
    border: none;
    font-weight: 700;
    cursor: pointer; }
  body .comments {
    padding: 30px 0 0 0; }
    body .comments header.title {
      padding-bottom: 15px;
      margin-bottom: 20px;
      background: transparent url("/line.png") repeat-x bottom left;
      border-bottom: 1px solid white; }
    body .comments .comment_content_textarea {
      height: 200px; }
    body .comments .comment-list .reply-title {
      color: #6BC083;
      padding: 10px 0px;
      font-size: 30px;
      padding: 25px 0px 10px 0;
      margin-top: 30px; }
  body .user_information .user_email {
    margin-right: 5px; }
  body .button-info {
    background-color: #0166ff;
    color: white; }
    body .button-info:hover {
      background-color: #0166DA; }
  body .box {
    background: #fff;
    padding: 40px 30px 30px 30px;
    margin-bottom: 10px;
    word-wrap: break-word; }
    body .box.post-main {
      min-height: 350px;
      max-height: 350px;
      overflow: hidden;
      width: 310px; }
    body .box.post header h1 {
      font-size: 46px;
      line-height: 46px;
      padding: 15px 3px;
      margin: 0 0 15px 0;
      border-bottom: 1px solid whitesmoke; }
    body .box .widget {
      border-top: 1px solid #f1f4f9; }
  body footer.main {
    background-color: #30abd5;
    color: #fff;
    padding: 20px;
    margin-top: 20px; }

.logo {
  background: #444;
  margin: 0;
  padding: 20px 10px;
  font-size: 44px; }
  .logo a, .logo a:visited {
    color: #0166ff;
    text-decoration: none; }

.button {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 4px;
  color: #fff;
  background: #0166ff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: auto; }
  .button:hover {
    background: #003d9a; }

label {
  display: block;
  font-weight: bold;
  font-size: 16px; }

form, input, textarea {
  width: 100%; }

input, textarea {
  border: #ccc 1px solid;
  padding: 10px 5px;
  font-size: 16px; }
